<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    Product Detail
</%block>


<%block name="body_center">
    <div class="text-center">
        <h1>${product.name}</h1>
        <img temp='${ product.id }' id="prod_graph" src="${STATIC_URL}catalog/media/prod_imgs/${product.graphic}" alt="${product.name}">
        </br>
        <br>
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Product Details</div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Price</th>
                <th>Category</th>
                <%
                    condition = getattr(product,"condition", None)
                    quantity = getattr(product, 'quantity', None)
                %>


                % if condition is not None:
                    <th>Condition</th>
                % endif

                
                % if quantity is not None:
                    <th>Quantity</th>
                % endif

            </tr>
            <tr>
                <td class="text-left">${ product.price }</td>
                <td class="text-left">${ product.category.name} </td>
                % if condition is not None:
                    <td class="text-left">${product.condition}</td>
                % endif

                % if quantity is not None:
                    <td class="text-left">${product.quantity}</td>
                % endif
            </tr>
        </table>
        </div>

            <div id='purchase_container' class="text-center">
                 ${form}
            </div>


    </div>

    <p>Our customer support and account management teams provide the best service in the industry. We're passionate about our products
    as well as our customers and it shows in the level of service that we provide. We're always happy to help find the solution for
    your needs. If a solution doesn't already exist, we'll create a new solution that resolves your issue. <a href="/homepage/contact" >Contact Us!</a></p>
</%block>
