<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    Product Detail
</%block>



<%block name="body_center">
    <div class="tile-image">
        <a id="detail-modal-button" ><img temp="${ product.id }" id="prod_graph" src="${STATIC_URL}catalog/media/prod_imgs/${product.graphic}" alt="${ product.name }"></a>
        <div class="tile-title">
            <h5> <small>Click image to see more</small></h5>
        </div>
    </div>
    <h2>${ product.name }</h2>

            %if hasattr(product, 'monthly_price'):
                <h3 class="detail-h3">Type: Rental</h3>
                <h3 class="detail-h3">Monthly Price: $${ product.monthly_price }</h3>
            %else:
                <h3 class="detail-h3">Type: For Sale</h3>
                <h3 class="detail-h3">Price: $${ product.price }</h3>
            %endif

            <h3 class="detail-h3">Category: ${ product.category }</h3>
            <h3 class="detail-h3">
                %if hasattr(product, 'quantity') and product.quantity > 0:
                    <h3 style="color:red;" class="detail-h3">Available: ${product.quantity}</h3>
                % endif
            </h3>
            <h3 class="detail-h3" id="purchase_container">${ form }</h3>

            <!-- <div id="purchase_container" class="detail-h3">
                %if hasattr(product, 'quantity') and product.quantity > 0:
                    <h3 style="color:red;" class="detail-h3">In Stock</h3>
                % endif
            </div> -->



</%block>
