<%inherit file="/homepage/templates/base_ajax.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->


<%block name="body_center">

    % for message in messages:
        <div style='width: 315px;' id="success-message" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            ${message}
        </div>
    % endfor

         ${form}

</%block>
