<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks

-->
<%block name="title">
    Catalog
</%block>

<%block name="body_above">
<div class="col-lg-4 col-lg-offset-4">
<form action="/catalog/search/">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" id="search_submit" type="submit" >Search</button>
        </span>
        <input  id="search_box" type="text" class="form-control" name="product_name"  placeholder="Product..." >
    </div>
</form>
</div>

</%block>
<%block name="body_left">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
          <ul class="nav nav-stacked panel">
              % for c in categories:
              <li><a href="/catalog/index.filter/${c.id}"> ${ c.name } </a></li>
              % endfor
              <li><a href="/catalog/"> Clear Filter </a></li>
          </ul>
      </div>
    </div>

</%block>

<%block name="body_center">
    <div class="body-outer">
        <div class="tile-outer">
            %for p in products:
                <div class="tile-container">
                    <div class="tile-image">
                        <a href="/catalog/detail/${ p.id }/"><img src="${STATIC_URL}catalog/media/prod_imgs/${p.graphic}" alt="${ p.name }"></a>
                    </div>
                    <div class="tile-title">
                        <h4>${ p.name }</h4>
                        <h5> <small>$${ p.price }</small></h5>
                    </div>
                </div>
            %endfor
        </div>
    </div>

    <br/>

</%block>
