<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    Search Results
</%block>

<%block name="body_above">
<div class="col-lg-4 col-lg-offset-4">
<form action="/catalog/search/">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" id="search_submit" type="submit" >Search</button>
        </span>
        <input  id="search_box" type="text" class="form-control" name="product_name"  placeholder="Product..." >
    </div>
</form>
</div>

</%block>

<%block name="body_center">
<!-- <table class="table table-striped">
    <caption class="text-center"><strong>Search Results</strong></caption>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </tr>
    % for p in products:
        <tr class="clickable-row" data-href='/catalog/detail/${p.id}'>
                <td><img class='graphic' src="${STATIC_URL}catalog/media/prod_imgs/${p.graphic}" alt=""></td>
                <td>${p.name}</td>
                <td>${p.category.name}</td>
                <td>${p.price}</td>
                <td><a href="/catalog/detail/${ p.id }"class="btn btn-primary">View</a></td>
        </tr>

    % endfor
</table> -->

<h5 style="border-bottom: solid #dddddd 1px;">Search Results</h5>

<div class="tile-outer">
    %for p in products:
        <div class="tile-container">
            <div class="tile-image">
                <a href="/catalog/detail/${ p.id }/"><img src="${STATIC_URL}catalog/media/prod_imgs/${p.graphic}" alt="${ p.name }"></a>
            </div>
            <div class="tile-title">
                <h4>${ p.name }</h4>
                <h5> <small>$${ p.price }</small></h5>
                <p>${ p.description }</p>
            </div>
        </div>
    %endfor
</div>

</%block>
