<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks

-->

<%block name="title">
    Edit Product
</%block>

<%block name="body_center">
<h3>Edit Product</h3>
<p>Please edit the selected product below</p>
${ form }
<p>Our support teams and account management teams provide the best service in the industry. We're passionate about our
    products as well as our employees and it shows in the level of service that we provide. We're always happy to help
    find the solution for your needs. If you are in need of support, reach out to our support team (@fomo_support) on
    the company Slack channel.</p>
</%block>
