#music_park {
    height: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#music_park2 {
    height: 100%;
}

#video {
    padding-top: 10px;
}

#home-jumbo {
    margin-bottom: 0;
}

#music_lessons {
    width: 100%;
}

.side_instrument {
    width: 90%;
}
