<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks

-->

<%block name="title">
    Login
</%block>

<%block name="body_right">
</%block>
<%block name="body_left">
</%block>

<%block name="body_center">
    <div class="content">
      <h3 class="text-center">Log-in to your account</h3>



      ${ form }

      <br/>
    </div>
    <div class="text-center">
        <p>Don't have an account? <a href="/account/signup/">Sign-up now!</a></p>
    </div>
</%block>
