<%inherit file="/homepage/templates/base_ajax.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks

-->

<%block name="body_center">
    <div class="content">
      <h3 class="text-center">Log-in to your account</h3>
      <div id='login-modal-form'>
          ${ form }
      </div>

      <p>Don't have an account? <a href="/account/signup/">Sign-up now!</a></p>
      <br/>
    </div>
</%block>
