<%inherit file="/homepage/templates/base_ajax.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks

-->

<%block name="body_center">
    <div class="content">
      <h3 class="text-center">Log-in to your account</h3>
      <div id='login-modal-form'>
          ${ form }
      </div>

      <br/>
      <p>Our customer support and account management teams provide the best service in the industry. We're passionate about our products
      as well as our customers and it shows in the level of service that we provide. We're always happy to help find the solution for
      your needs. If a solution doesn't already exist, we'll create a new solution that resolves your issue. <a href="/homepage/contact" >Contact Us!</a></p>
    </div>
</%block>
