<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks

-->

<%block name="title">
    Sign up
</%block>

<%block name="body_center">
<h3>Sign up with FOMO</h3>
<p>Please provide us with the information below to create an account.</p>
${ form }
<p>Our customer support and account management teams provide the best service in the industry. We're passionate about our products
as well as our customers and it shows in the level of service that we provide. We're always happy to help find the solution for
your needs. If a solution doesn't already exist, we'll create a new solution that resolves your issue. <a href="/homepage/contact" >Contact Us!</a></p>
</%block>
