<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    About
</%block>


<%block name="body_center">
<div class="jumbotron">


    <h1>About: FOMO Rentals</h1>

</div>

<div class="container-fluid">
<div class="row">
    <h2>Our Mission:</h2>
    <p>To become your family's favorite music store</p>
    <h2>Our Story</h2>
    <p>Visit any FOMO Music Store at any time and you’re guaranteed to see somebody making music. After all, making music is what we're all about.
    Playing the incredible selection of instruments is not only allowed, it’s encouraged. You’ll find people of all ages, from novice to
    pros playing trumpets, saxaphones, and other instruments. The huge inventory of musical instruments and accessories, sound and recording
    equipment, sheet music and videos, computers and music software covers every musician’s needs no matter what his or her playing style or ability may be.</p>
    <p>FOMO is currently a local rental store with locations throughout the state of Utah. Our current size doesn't prevent us from having big dreams.
        We will one day become the world's favorite music store.</p>
    <p>Come in and see us today!</p>
    <h2>Accessibility</h2>
    <p>FOMO is committed to providing a website that is accessible to the widest possible audience, regardless of technology or ability.
        We are actively working to increase the accessibility and usability of our website and in doing so adhere to many of the available
        standards and guidelines. Our recent improvements include:
        <ul>
            <li>Short and simple sentences to aid readability and engage a wider audience on About Us Page.</li>
            <li>A keyboard alone accessibly homepage.</li>
            <li>Hierarchical headings and markup on your homepage</li>
            <li>Visible labels outside of text boxes on “Contact Us” form.</li>
        </ul>
    </p>
</div>
</div>
</%block>
