<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    About
</%block>


<%block name="body_center">
<h1 style="margin-top:0px;">About Us</h1>
<div class="container-fluid">
<div class="row">
    <h3>Our Mission:</h3>
    <p>To become your family's favorite music store</p>
    <h3>Our Story</h3>
    <p>Visit any FOMO Music Store at any time and you’re guaranteed to see somebody making music. After all, making music is what we're all about.
    Playing the incredible selection of instruments is not only allowed, it’s encouraged. You’ll find people of all ages, from novice to
    pros playing trumpets, saxaphones, and other instruments. The huge inventory of musical instruments and accessories, sound and recording
    equipment, sheet music and videos, computers and music software covers every musician’s needs no matter what his or her playing style or ability may be.</p>
    <p>FOMO is currently a local rental store with locations throughout the state of Utah. Our current size doesn't prevent us from having big dreams.
        We will one day become the world's favorite music store.</p>
    <p>Come in and see us today!</p>
</div>
</div>
</%block>
