<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    FAQ
</%block>

<%block name="body_center">
    <div class="content">
      <h3>Frequently Asked Questions</h3>
      <!-- Question #1 -->
      <br/>

      <p><strong>What instruments do you have?</strong></p>
      <p>We provide various instruments. Our most popular instrumenst are listed below:
          <ul>
              <li>Trumpet</li>
              <li>Trombone</li>
              <li>French Horn</li>
              <li>Percussion Kit</li>
              <li>Flute</li>
              <li>Clarinet</li>
              <li>Oboe</li>
              <li>Saxaphone</li>
              <li>Violin</li>
              <li>Viola</li>
              <li>Cello</li>
          </ul>
      If you don't see the instrument that you are looking for, <a href="/homepage/contact">contact us</a>. If we don't have it, we can get it!</p>
      <br/>

      <!-- Question #2 -->
      <p><strong>If I am renting for educational purposes, will you give me the needed tax documents at the end of the year?</strong></p>
      <p> We can provide the needed tax documents; however, you will be responsible for (1) informing us about this at the beginning of you rental agreement and (2) requesting the documents and the end of the year.</p>
      <br/>

      <p><strong>Can I rent even if I have bad credit?</strong></p>
      <p>Yes. At the beginning of each rental agreement, we perform a credit check. If your credit does not meet our requirements, we are willing to work with you since the rental fees are a low monthly payment. </p>
      <br/>
    </div>
</%block>
