<%inherit file="app_base.htm" />

<%block name="page_title">FOMO Home Page</%block>
<%block name="title">Home</%block>
<%block name="body_above">
    <!-- <ol class="breadcrumb" style="margin-bottom:0px;">
      <li class="breadcrumb-item active">Home</li>
    </ol> -->
    <div class="img-wrapper">
        <div class="cover" title="Family Oriented Music Organization">
        </div>
        <div class="img-overlay">
            <a href="/catalog/" class="btn btn-md btn-default">Shop Now</a>
            <img class="img-responsive" src="${ STATIC_URL }homepage/media/FOMOLogo-02.png" alt="Family Oriented Music Organization">
        </div>
    </div>

</%block>

<%block name="body_left">

</%block>


<%block name="body_right">

</%block>
