<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    Thank You
</%block>


<%block name="body_center">
    <div class="content">
        <h2 style="margin-top:0px; text-align:center;">Email Received</h2>
        <p style="text-align:center; font-size:1.5em;">Thank you ${request.user.first_name} for reaching out to us.
            <br>Our customer support team will be in contact with you shortly.</p>
    </div>
</%block>
