<%inherit file="app_base.htm" />
<!--
base blocks
    title
    header
    message
    menu_items
    body_main
    body_above
    body_left
    body_center
    body_right
app_base blocks
    more_menu_items
-->

<%block name="title">
    Cart
</%block>

<%block name="body_center">
    <h3 style="margin-top:0px;"> Cart Items |<a style="font-size:15px;" href="/checkout/cart.emptyCart">&nbsp;Empty Cart</a></h3>
    <p> Below is a table of the current items in your cart</p>
    <table class="table table-striped">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        % for item in request.user.retrieveCart():
            <tr>
                <td><img class='graphic' src="${STATIC_URL}catalog/media/prod_imgs/${item.product.graphic}" alt=""></td>
                <td><a href="/catalog/detail/${ item.product.id }">${item.product.name}</a></td>
                <td>${item.product.category.name}</td>
                <td>${item.quantity}</td>
                <td>$${item.ext_price}</td>
                <td><a class='remove_link'  href='/checkout/cart.removeItem/${item.id}'>Remove</a></td>
            </tr>
        % endfor

    </table>
    <div id="cart-summary">
        <table class="table">
            <tr>
                <th>Subtotal:</th>
                <th>$${request.user.cartSubtotal()}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Tax:  </th>
                <th>$${request.user.cartTax()}</th>
            </tr>
            <tr>
                <th>Shipping: </th>
                <th>$${request.user.cartShipping()}</th>
            </tr>
            <tr>
                <th>Total:</th>
                <th>$${request.user.cartTotal()}</th>
            </tr>
        </table>

    </div>
    <div class="text-center">
        <a href="/checkout/shipping" class="btn btn-primary">Checkout</a>
    </div>
    <br>

    </%block>
