#body-left {
    padding-right: 0px;
    margin-top: 10px;
}

#body-center {

}

#body-right {
    padding-left: 0px;
    margin-top: 10px;
}

/*.body-outer {
    text-align: center;
}

.tile-outer {
    text-align: center;
    display: inline-block;

}

.tile-container {
    display: inline-block;
    text-align: center;
    padding: 12px;
    margin: 5px;
    border: 1px solid black;
}

.tile-image >img {
    width: 150px;
    padding: 6px;
}

.tile-title {
    margin-top: 12px;
    font-size: 1.4em;
}

.input-group {
    margin: 20px;
}*/

.tile-outer {
    text-align: center;
}

.tile-container {
    display: inline-block;
    background-color: white;
    text-align: center;
    padding:12px;
    margin: 5px;
}

.tile-image img {
    width: 200px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #dddddd;
    padding: 20px;
}

.tile-image img:hover {
    border-color: gray;

}

.tile-title {
    margin-top: 12px;
    font-size: 1.2em;

}

#catlist {
    list-style-type: none;
}

.input-group {
    border-radius: 5px;
    margin: 20px;
}

.input-group-btn {
    border-radius: 5px;
}

#body-top {
    margin-bottom: 20px;
}
